* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    overflow: hidden;
}

.scene {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
}

.flag {
    position: relative;
    width: 450px;
    height: 350px;
}

.top,
.middle,
.bottom {
    height: 116px;
}

.top {
    background: #FF8915;
}

.middle {
    background: #fff;
    margin: 5px auto;
}

.wheel {
    width: 114px;
    height: 114px;
    border: 3px solid #008;
    border-radius: 50%;
    margin: 7px auto 0;
    position: relative;
}

.wheel::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 42%;
    left: 42%;
    background: #008;
    border-radius: 50%;
}

.bottom {
    background: #148809;
}

.spoke {
    position: absolute;
    top: -10px;
    left: 40%;
    height: 50%;
    background: #008;
    transform-origin: 0 100%;
}

.spoke::before,
.spoke::after {
    content: '';
    position: absolute;
    border-top: 28px solid transparent;
    border-bottom: 28px solid transparent;
}

.spoke::before {
    border-left: 2px solid #008;
    right: 0;
}

.spoke::after {
    border-right: 2px solid #008;
    left: 0;
}

.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear, 0 -25%, 100% top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(20%, rgba(255, 255, 255, 0)), color-stop(30%, rgba(0, 0, 0, 0.04)), color-stop(40%, rgba(255, 255, 255, 0.2)), color-stop(60%, rgba(255, 255, 255, 0)), color-stop(65%, rgba(255, 255, 255, 0.2)), color-stop(80%, rgba(0, 0, 0, 0.05)), color-stop(100%, rgba(255, 255, 255, 0)));
    background-size: 200%;
    animation: flutter 7s infinite cubic-bezier(0.16, 0.14, 0.82, 0.73);
}

h1 {
    background: #2193D6;
    padding: 20px;
    text-align: center;
}

h1 span:nth-child(1) {
    color: #FF8915;
    text-shadow: 2px 1px 1px #DCD6D0;
}

h1 span:nth-child(2) {
    color: #fff;
    text-shadow: 1px 1px 1px #474D4E;
}

h1 span:nth-child(3) {
    color: #148809;
    text-shadow: 1px 1px 1px #381C0C;
}